{% extends "base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/browse.css') }}">
{% endblock %}

{% block content %}
<div class="h-full w-full">
    <div class="mt-3 p-2 bg-[#f8f9fa] rounded-2xl shadow-lg">
        <form id="browse-form" name="browse-form" action="/browse" method="POST">
            <div class="flex flex-col border-b items-center min-w-full px-4">
                <div class="my-3">
                    <h1 class="text-4xl">Browse</h1>
                </div>
                <div class="mt-2 mb-4">
                    <label for="deck" class="text-gray-700 font-medium">Deck:</label>
                        <select id="deck-select" name="deck-select-input" data-selected-deck="{{ selected_deck_id or "" }}"
                        class="p-2 bg-white border border-gray-300 rounded shadow-sm focus:ring-2 focus:ring-blue-400 focus:border-blue-400 text-gray-700 max-w-[250px]">
                            <option value="">All Decks</option>
                            {% for deck in decks %}
                                <option value="{{ deck.id }}" {% if deck.id|string == selected_deck_id %}selected{% endif %}>{{ deck.name }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="h-48 overflow-y-scroll w-full">
                    <table id="browse-table" class="table-auto w-full border-collapse">
                        <thead>
                            <tr>
                                <th class="w-1/6">Id</th>
                                <th class="w-1/4">Front</th>
                                <th class="w-1/4">Back</th>
                                <th class="w-1/6">Deck Name</th>
                                <th class="w-auto text-right"></th>
                            </tr>
                        </thead>
                        <tbody class="overflow-y-scroll">
                            {% for card, deck_name in cards %}
                                <tr 
                                    id="card-row-{{ card.id }}"
                                    class="card-row"
                                    onclick="selectCard(this)"
                                    data-front="{{ card.front }}"
                                    data-back="{{ card.back }}"
                                    data-deck-id="{{ card.deck_id }}"
                                    data-card-id="{{ card.id }}"
                                >
                                    <td>{{ card.id }}</td>
                                    <td>{{ card.front }}</td>
                                    <td>{{ card.back }}</td>
                                    <td class="overflow-auto text-wrap">{{ deck_name }}</td>
                                    <td class="text-right pr-2">
                                        <button 
                                            type="button"
                                            class="btn btn-danger px-2 py-1 text-sm bg-red-500 text-white rounded-md hover:bg-red-600"
                                            data-bs-toggle="modal" 
                                            data-bs-target="#deleteCardModal"
                                            data-deck-id="{{ card.deck_id }}"
                                            data-card-id="{{ card.id }}" 
                                            onclick="deleteButtonClicked(event)"
                                        >
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex flex-col items-center m-4">
                <textarea class="hidden resize-none" id="card-input-deckId" name="deckId"></textarea>
                <textarea class="hidden resize-none" id="card-input-cardId" name="cardId"></textarea>
                <div class="text-2xl flex flex-col items-center min-h-[35vh] min-w-full gap-2">
                    <div class="text-lg">
                        Front
                    </div>
                    <textarea id="card-input-front" name="front" class="bg-slate-200 w-full p-2  resize-none"></textarea>
                    <div class="text-lg">
                        Back
                    </div>
                    <textarea id="card-input-back" name="back" class="bg-slate-200 w-full p-2  resize-none"></textarea>
                </div>
                <div class="my-4">
                    <div id="reveal-button" class="">
                        <button 
                            class="btn btn-primary min-w-[250px]"
                            type="submit"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete card Modal -->
<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="deleteCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCardModalLabel">Delete Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteForm" class="row g-3" method="POST">
                <div class="modal-body">
                    <h2 id="message"></h2>
                    <h4>This will delete this card!</h4>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="deckId" id="deckIdInput">
                    <input type="hidden" name="cardId" id="cardIdInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteButtonClicked(event) {
        event.stopPropagation();
    }

    const deleteModal = document.getElementById('deleteCardModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const deckId = button.getAttribute('data-deck-id');
        const cardId = button.getAttribute('data-card-id');
        const deleteForm = deleteModal.querySelector('#deleteForm');
        deleteForm.querySelector('#deckIdInput').value = deckId;
        deleteForm.querySelector('#cardIdInput').value = cardId;
        deleteForm.action = `browse`;
    });

    function selectCard(item) {
        const prevElem = document.getElementsByClassName("selected-line");
        if (prevElem.length > 0) {
            prevElem[0].classList.remove("selected-line")
        }

        const element = document.getElementById(item.id);
        element.classList.add("selected-line");

        const front = item.dataset.front;
        const back = item.dataset.back;
        const deckId = item.dataset.deckId;
        const cardId = item.dataset.cardId;

        document.getElementById("card-input-front").value = front;
        document.getElementById("card-input-back").value = back;
        document.getElementById("card-input-deckId").value = deckId;
        document.getElementById("card-input-cardId").value = cardId;
    }

    function unselectCard(deckId) {
        const prevElem = document.getElementsByClassName("selected-line");
        if (prevElem.length > 0) {
            prevElem[0].classList.remove("selected-line")
        }
        document.getElementById("card-input-front").value = null;
        document.getElementById("card-input-back").value = null;
        document.getElementById("card-input-deckId").value = deckId ? deckId : "";
        document.getElementById("card-input-cardId").value = null;
    }

    document.addEventListener("input", function (event) {
        if (event.target.id === "card-input-front" || event.target.id === "card-input-back") {
            event.target.style.height = "auto";
            event.target.style.height = event.target.scrollHeight + "px";
        }
    });

    
    document.getElementById("deck-select").addEventListener("change", function () {
        let deckId = this.value;
        unselectCard(deckId);
        let cards = document.querySelectorAll(".card-row");

        cards.forEach(item => {
            item.style.display = item.dataset.deckId.includes(deckId) ? "" : "none";
        });
    });

    const deckSelect = document.getElementById("deck-select");
    const selectedDeckId = deckSelect.dataset.selectedDeck;
    if (selectedDeckId) {
        deckSelect.value = selectedDeckId;
        deckSelect.dispatchEvent(new Event("change"));
    }
</script>
{% endblock %}
