{% block extra_styles %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}"> -->
{% endblock %}

<nav>
    <ul class="flex justify-end gap-2">
        <!-- <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/">Welcome</a></li> -->
        <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/decks">Decks</a></li>
        <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/add">Add</a></li>
        <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/">Browse</a></li>
        <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/">Stats</a></li>
        <li class="my-2 p-2 hover:bg-slate-200 rounded-full"><a href="/">Profile</a></li>
    </ul>
</nav>
