{% extends "base.html" %}

{% block extra_styles %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/study.css') }}"> -->
{% endblock %}

{% block content %}
<div class="h-full w-full">
    <div class="flex flex-col border-b items-center min-w-full">
        <div class="my-4">
            <h1 class="text-2xl md:text-4xl">Studying Deck: {{ deck.name }}</h1>
        </div>
        <div class="mt-2 mb-4">
            <a href="/decks" class="btn btn-secondary">
                Back to Decks
            </a>
        </div>
    </div>
    <div class="flex flex-col items-center my-4">
        <!-- <div id="front-or-back-indicator" class="pb-2"> -->
        <!-- </div> -->
        <div class="text-4xl flex flex-col items-center min-h-[55vh] max-h-[45vh] overflow-auto min-w-[60%]">
            <div id="flashcard-front" class="whitespace-pre-wrap text-center">
            </div>
            <div id="flashcard-back" class="border-top whitespace-pre-wrap text-center pt-2">
            </div>
        </div>
        <div class="mt-4">
            <div id="reveal-button" class="">
                <button class="btn btn-primary min-w-[250px]" onclick="showAnswer()">
                    Reveal Answer
                </button>
            </div>
            <div id="next-card-button-group" class="hidden flex gap-5">
                <button class="btn btn-info" onclick="randomCard()">
                    Random
                </button>
                <button class="btn btn-secondary" onclick="nextCard()">
                    Next
                </button>
                <button class="btn btn-danger" onclick="updateCard()">
                    Repeat
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let cards = JSON.parse({{ deck.cards | tojson | tojson }});
    let currentIndex = 0;
    let revealed = false;


    function updateCard() {
        // document.getElementById("front-or-back-indicator").textContent = `Card #${currentIndex + 1}: Front`;

        document.getElementById("flashcard-front").textContent = cards[currentIndex].front;
        document.getElementById("flashcard-back").textContent = "";

        document.getElementById("reveal-button").classList.remove("hidden");
        document.getElementById("next-card-button-group").classList.add("hidden");
        revealed = false;
    }

    function randomCard() {
        currentIndex = Math.floor(Math.random() * cards.length);
        updateCard();
    }

    function nextCard() {
        currentIndex = (currentIndex + 1) % cards.length;
        updateCard();
    }

    function showAnswer() {
        // document.getElementById("front-or-back-indicator").textContent = `Card #${currentIndex + 1}: Back`;

        // document.getElementById("flashcard-front").textContent = cards[currentIndex].back;
        document.getElementById("flashcard-back").textContent = cards[currentIndex].back;

        document.getElementById("reveal-button").classList.add("hidden");
        document.getElementById("next-card-button-group").classList.remove("hidden");
        revealed = true;
    }

    window.onload = updateCard;
</script>
{% endblock %}
